.videos1 {
    display: flex;
    justify-content: space-around;
    gap: 50;      
  }
  .video1 {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }